<%= form_for(@mision_mision) do |f| %>
  <% if @mision_mision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mision_mision.errors.count, "error") %> prohibited this mision_mision from being saved:</h2>

      <ul>
      <% @mision_mision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mision_id %><br />
    <%= f.number_field :mision_id %>
  </div>
  <div class="field">
    <%= f.label :mision_relacionada_id %><br />
    <%= f.number_field :mision_relacionada_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
