<h1>Listing mision_misions</h1>

<table>
  <tr>
    <th>Id mision</th>
    <th>Id mision relacionada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mision_misions.each do |mision_mision| %>
  <tr>
    <td><%= mision_mision.mision_id %></td>
    <td><%= mision_mision.mision_relacionada_id %></td>
    <td><%= link_to 'Show', mision_mision %></td>
    <td><%= link_to 'Edit', edit_mision_mision_path(mision_mision) %></td>
    <td><%= link_to 'Destroy', mision_mision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mision mision', new_mision_mision_path %>
