<h1>Listing registro_peleas</h1>

<table>
  <tr>
    <th>Id personaje</th>
    <th>Id personaje enemigo</th>
    <th>Id ganador</th>
    <th>Id perdedor</th>
    <th>Danio ganador</th>
    <th>Danio perdedor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registro_peleas.each do |registro_pelea| %>
  <tr>
    <td><%= registro_pelea.personaje_id %></td>
    <td><%= registro_pelea.personaje_enemigo_id %></td>
    <td><%= registro_pelea.ganador_id %></td>
    <td><%= registro_pelea.perdedor_id %></td>
    <td><%= registro_pelea.danio_ganador %></td>
    <td><%= registro_pelea.danio_perdedor %></td>
    <td><%= link_to 'Show', registro_pelea %></td>
    <td><%= link_to 'Edit', edit_registro_pelea_path(registro_pelea) %></td>
    <td><%= link_to 'Destroy', registro_pelea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registro pelea', new_registro_pelea_path %>
