<p id="notice"><%= notice %></p>

<p>
  <b>Id personaje:</b>
  <%= @personaje_mision.personaje_id %>
</p>

<p>
  <b>Id mision:</b>
  <%= @personaje_mision.mision_id %>
</p>

<p>
  <b>Finalizada:</b>
  <%= @personaje_mision.finalizada %>
</p>


<%= link_to 'Edit', edit_personaje_mision_path(@personaje_mision) %> |
<%= link_to 'Back', personaje_misions_path %>
