<h1>Listing items</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ataque</th>
    <th>Defenza</th>
    <th>Dureza</th>
    <th>Nivel</th>
    <th>Especie</th>
    <th>Valor</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.nombre %></td>
    <td><%= item.ataque %></td>
    <td><%= item.defenza %></td>
    <td><%= item.dureza %></td>
    <td><%= item.nivel %></td>
    <td><%= item.especie %></td>
    <td><%= item.valor %></td>
    <td><%= item.imagen %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
